<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="X3">

    <xacro:arg name="simulation_config_file" default="$(find robot_gazebo)/config/simulation_config.yaml" />
    <xacro:arg name="simulation_config_file" default="$(find robot_gazebo)/config/geometry_sensing_config.yaml" />

    <xacro:include filename="$(find robot_gazebo)/model/robot_sensing_macros.xacro"/>

    <xacro:property name="sim_config_file" value="$(arg simulation_config_file)"/>
    <xacro:property name="sim_config_values" value="$(xacro.load_yaml(sim_config_file))"//>

</robot>